<div *ngIf="country$ | async; let country">
    <button>
        <span class="fa fa-arrow-left"></span>
        Back
    </button>
    <img [src]="country.flag">
    <h3> {{country.name}}</h3>
    <p>
        <strong> Native Name:</strong>
        {{country.nativeName}}
    </p>
    <p>
        <strong>Population:</strong>
        {{country.population | number: '1.0'}}
    </p>
    <p>
        <strong>Region:</strong>
        {{country.region }}
    </p>
    <p>
        <strong>Sub Region:</strong>
        {{country.subregion }}
    </p>
    <p>
        <strong>Capital:</strong>
        {{country.capital }}
    </p>
    <p>
        <strong>Top level domain:</strong>
        {{country.topLevelDomain }}
    </p>
    <p>
        <strong>Currencies:</strong>
        {{displayCurrencies(country.currencies)}}
    </p>
    <p>
        <strong>languages:</strong>
        {{displayLanguages(country.languages)}}
    </p>
    <div *ngIf="borderCountries$ | async; let borderCountries">
        <p><strong>Border Countries: </strong></p>
        <div *ngFor="let borderCountry of borderCountries">
            {{borderCountry.name}}
        </div>

    </div>
</div>